<app-homepage-menu></app-homepage-menu>
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start mt-2">
        <div class="row gx-lg-5 align-items-center mb-2">

            <div class="col-lg-6 mb-5 mb-lg-0 d-none d-md-block" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Discover the world <br />
                    <span style="color: hsl(218, 81%, 75%)">one flight at a time.</span>
                </h1>
                <p class="mb-4 opacity-70 h5" style="color: hsl(218, 81%, 85%)">
                    Flying is not just moving through the air,
                     it's about touching the sky and experiencing the freedom of the endless horizon.
                </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="email" id="form3Example3" class="form-control" [(ngModel)]="loginDto.email"/>
                                <label class="form-label" for="form3Example3">Email address</label>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input type="password" id="form3Example4" class="form-control" [(ngModel)]="loginDto.password"/>
                                <label class="form-label" for="form3Example4">Password</label>
                            </div>

                            <div class="text-danger mb-2 h5 d-flex justify-content-center">{{errorMessage}}</div>

                            <!-- Submit button -->
                            <div class="form-outline mb-1 d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary btn-block" (click)="onLogin()">
                                    Log in
                                </button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->