<app-homepage-menu></app-homepage-menu>
<div class="container my-4">

    <!--Section: Design Block-->
    <section>
  
      <div class="row d-flex justify-content-center">
  
        <div class="col-md-8 mb-4">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0 text-font text-uppercase">REGISTER NEW FLIGHT</h5>
            </div>
            <div class="card-body">
              <form [formGroup]="form">
                <div class="row mb-4">
                    <div class="col">
                      <div class="form-outline mb-4">
                        <input type="text" formControlName="startPlace" id="form11Example3" class="form-control" />
                        <label class="form-label" for="form11Example3">Start place</label>
                        </div>
                    </div>
                    <div class="col">
                        <mat-form-field class="form-field w-100">
                            <mat-label>Start date and time</mat-label>
                            <input formControlName="startDateTime" matInput type="datetime-local" width="100%">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline mb-4">
                        <input type="text" formControlName="endPlace" id="form11Example3" class="form-control" />
                        <label class="form-label" for="form11Example3">Destination place</label>
                        </div>
                    </div>
                    <div class="col">
                        <mat-form-field class="form-field w-100">
                            <mat-label>End date and time</mat-label>
                            <input formControlName="endDateTime" matInput type="datetime-local">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline mb-4">
                        <input type="number" formControlName="maxNumberOfPlaces" id="form11Example3" class="form-control" />
                        <label class="form-label" for="form11Example3">Max number of places</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline mb-4">
                        <input type="number" formControlName="pricePerPlace"  id="form11Example3" class="form-control" />
                        <label class="form-label" for="form11Example3">Price per place</label>
                        </div>
                        
                    </div>
                </div>
                <div class="text-center">
                  <button (click)="register()" type="button" class="btn button-order col-md-10">Register</button>
                </div>
                <label class="text-danger" text-danger>{{errorMessage}}</label>
              </form>
            </div>
  
          </div>
          
  
        </div>
  
  
  
  
  
  
      </div>
  
    </section>
    <!--Section: Design Block-->
  
  </div>