<!-- Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <!-- Inner -->
    <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active text-center">
            <img src="../../../../assets/firstCorousel.jpg" class="d-block w-100" alt="Sunset Over the City" />
            <div class="centered d-md-block text-white">
                <h1>Fly to Your Dream Destinations</h1>
            </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item text-center">
            <img src="../../../../assets/secondCorousel.jpg" class="d-block w-100" alt="Canyon at Nigh" />
            <div class="centered d-md-block text-white">
                <h1>Discover New Horizons</h1>
            </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item text-center">
            <img src="../../../../assets/thirdCorousel.jpg" class="d-block w-100" alt="Cliff Above a Stormy Sea" />
            <div class="centered d-md-block text-white">
                <h1>Book Now</h1>
            </div>
        </div>
    </div>
    <!-- Inner -->

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselBasicExample" data-bs-slide="prev">
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselBasicExample" data-bs-slide="next">
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Carousel wrapper -->