<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom text-bg-dark shadow-5-strong gradient-custom">
    <div class="container px-5">
        <a class="navbar-brand " style="color: hsl(276, 100%, 92%); font-family:'Pacifico'" routerLink="/home" >
            <i class="bi bi-airplane-fill me-3"></i>
            <b>LetiSleti</b>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><button class="btn text-white" routerLink="/tickets-info">My tickets</button></li>
                <li class="nav-item"><button class="btn text-white" routerLink="/register">Register</button></li>
                <li class="nav-item"><button class="btn text-white" routerLink="/login">Login</button></li>
            </ul>
        </div>
    </div>
</nav>